<template>
    <div>
        <div class="head_color mr-2" :style="{background: color}" id="toDo_slidenav_head_color" data-hover></div>
        <div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect py-0" for="toDo_slidenav_head_color">
            <color-picker
                :color="color"
                :sucker-hide="true"
                :sucker-canvas="suckerCanvas"
                :sucker-area="suckerArea"
                @changeColor="changeColor"
                @openSucker="openSucker"
            />
        </div>

    </div>
</template>

<script>
    import colorPicker from '@caohenghu/vue-colorpicker'
    export default {
        name: 'vue-color',
        components: {
            colorPicker
        },
        data() {
            return {
                color: '#1771F1',
                suckerCanvas: null,
                suckerArea: [],
                isSucking: false
            }
        },
        methods : {
            changeColor(color) {
                const  {r, g, b, a} = color.rgba
                this.color = `rgba(${r}, ${g}, ${b}, ${a})`
            },
            openSucker(isOpen) {
                if (isOpen) {

                } else {

                }
            }
        }
    }
</script>

<style scoped>
    .hu-color-picker{
        box-sizing: initial !important;
    }
</style>
