<template>
    <div class="editor">
        <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
            <div class="menubar">

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.bold() }"
                    @click="commands.bold"
                    data-hover
                >
                    <i class="fas fa-bold"></i>
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.italic() }"
                    @click="commands.italic"
                    data-hover
                >
                    <i class="fas fa-italic"></i>
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.strike() }"
                    @click="commands.strike"
                    data-hover
                >
                    <i class="fas fa-strikethrough"></i>
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.underline() }"
                    @click="commands.underline"
                    data-hover
                >
                    <i class="fas fa-underline"></i>
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.code() }"
                    @click="commands.code"
                    data-hover
                >
                    <i class="fas fa-code"></i>
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.paragraph() }"
                    @click="commands.paragraph"
                    data-hover
                >
                    <i class="fas fa-paragraph"></i>
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.heading({ level: 1 }) }"
                    @click="commands.heading({ level: 1 })"
                    data-hover
                >
                    H1
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.heading({ level: 2 }) }"
                    @click="commands.heading({ level: 2 })"
                    data-hover
                >
                    H2
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.heading({ level: 3 }) }"
                    @click="commands.heading({ level: 3 })"
                    data-hover
                >
                    H3
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.heading({ level: 4 }) }"
                    @click="commands.heading({ level: 4 })"
                    data-hover
                >
                    H4
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.heading({ level: 5 }) }"
                    @click="commands.heading({ level: 5 })"
                    data-hover
                >
                    H5
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.heading({ level: 6 }) }"
                    @click="commands.heading({ level: 6 })"
                    data-hover
                >
                    H6
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.bullet_list() }"
                    @click="commands.bullet_list"
                    data-hover
                >
                    <i class="fas fa-list-ul"></i>
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.ordered_list() }"
                    @click="commands.ordered_list"
                    data-hover
                >
                    <i class="fas fa-list-ol"></i>
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.blockquote() }"
                    @click="commands.blockquote"
                    data-hover
                >
                    <i class="fas fa-quote-right"></i>
                </button>

                <button
                    class="menubar__button"
                    :class="{ 'is-active': isActive.code_block() }"
                    @click="commands.code_block"
                    data-hover
                >
                    <i class="fas fa-code"></i>
                </button>

                <button
                    class="menubar__button"
                    @click="commands.horizontal_rule"
                    data-hover
                >
                    ⁠—
                </button>

                <button
                    class="menubar__button"
                    @click="commands.undo"
                    data-hover
                >
                    <i class="fas fa-undo"></i>
                </button>

                <button
                    class="menubar__button"
                    @click="commands.redo"
                    data-hover
                >
                    <i class="fas fa-redo"></i>
                </button>

            </div>
        </editor-menu-bar>

        <editor-content class="editor__content" :editor="editor" />
    </div>
</template>

<script>
    import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
    import {
        Blockquote,
        BulletList,
        CodeBlock,
        HardBreak,
        Heading,
        ListItem,
        OrderedList,
        TodoItem,
        TodoList,
        Bold,
        Code,
        Italic,
        Link,
        Strike,
        Underline,
        History,
    } from 'tiptap-extensions'
    export default {
        name: 'vue-texteditor',
        components: {
            EditorContent,
            EditorMenuBar,
        },
        data() {
            return {
                editor: new Editor({
                    extensions: [
                        new Blockquote(),
                        new BulletList(),
                        new CodeBlock(),
                        new HardBreak(),
                        new Heading({ levels: [1, 2, 3, 4, 5, 6] }),
                        new ListItem(),
                        new OrderedList(),
                        new TodoItem(),
                        new TodoList(),
                        new Link(),
                        new Bold(),
                        new Code(),
                        new Italic(),
                        new Strike(),
                        new Underline(),
                        new History(),
                    ],
                    content: `
                        <h2>
                            Hi there,
                        </h2>
                        <p>
                            this is a very <em>basic</em> example of tiptap.
                        </p>
                        <pre><code>body { display: none; }</code></pre>
                        <ul>
                            <li>
                                A regular list
                            </li>
                            <li>
                                With regular items
                            </li>
                        </ul>
                        <blockquote>
                            It's amazing 👏
                            <br />
                            – mom
                        </blockquote>
                    `,
                }),
            }
        },
        beforeDestroy() {
            this.editor.destroy()
        },
    }
</script>

<style scoped>

</style>
