// Body
$body-bg: #E7F0F8;

// Typography
$font-family-base: 'Poppins', sans-serif !default;
$font-size-base: 1rem !default;
$line-height-base: 1.6 !default;
$fa-font-path: '../webfonts';

$primary: #1771F1 !default;
$secondary: #179779 !default;
$neutral: #CAD6E1 !default;
$dark: #262F3B !default;

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #dddddd;

$modal-fade-transform: scale(.8);

$colors : (


    primary: $primary,
    primary-900: #05162F,
    primary-800: #092C5D,
    primary-700: #0D428C,
    primary-600: #135BBE,
    primary-500: $primary,
    primary-400: #3D88F1,
    primary-300: #649EF1,
    primary-200: #8AB5F1,
    primary-100: #B1CBF1,

    secondary: $secondary,
    secondary-900: #0A4536,
    secondary-800: #0E5947,
    secondary-700: #116E57,
    secondary-600: #148268,
    secondary-500: $secondary,
    secondary-400: #34AB90,
    secondary-300: #57C0A8,
    secondary-200: #81D4C2,
    secondary-100: #B1E8DC,

    neutral: $neutral,
    neutral-900: #A5B6C4,
    neutral-800: #AEBECB,
    neutral-700: #B7C6D3,
    neutral-600: #C0CEDA,
    neutral-500: $neutral,
    neutral-400: #D3DFE9,
    neutral-300: #DDE7F0,
    neutral-200: #E7F0F8,
    neutral-100: #F2F9FF,

    dark: $dark,
    dark-900: #020304,
    dark-800: #07090C,
    dark-700: #10151C,
    dark-600: #1B222B,
    dark-500: $dark,
    dark-400: #323D4A,
    dark-300: #3F4B5A,
    dark-200: #4D5A69,
    dark-100: #5C6979,

) !default;
