.main_container{
    height: 100vh;
    position: relative;
    width: calc(100% - 300px);
    &:before{
        height: 100%;
        width: 2px;
        background-color: color(neutral-300);
        position: absolute;
        content: '';
        left: 0;
        box-shadow: 1px 0 1px 0 #fff;
    }
    &:after{
        position: absolute;
        content: '';
        width: 35.8%;
        right: 0;
        top: 0;
        bottom: 0;
        background: url('../images/shape_bg1.svg') left;
        background-size: cover;
        opacity: 1;
    }
    &.pointer-events-none{
        pointer-events: none;
    }
    .main_wrapper{
        height: 100%;
        width: 100%;
        position: relative;
        overflow: auto;
        z-index: 1;
        .main_content{
            width: 100%;
            position: relative;
            padding: 3rem 30% 2.5rem 4.5rem;
            .head{
                margin-bottom: 3rem;
                .title{
                    font-size: 2rem;
                    font-weight: 900;
                    color: color(dark-300);
                    position: relative;
                    z-index: 1;
                    margin-bottom: 2rem;
                    text-shadow: 1px 1px 0 #fff;
                    &:before{
                        position: absolute;
                        content: '';
                        z-index: -1;
                        width: 100px;
                        height: 52px;
                        background: url('../images/forTitle.svg') no-repeat center;
                        background-size: contain;
                        bottom: 20px;
                        left: -2rem;
                    }
                }
                .description{
                    font-size: 1.25rem;
                }
            }
            .body{
                .title{
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: color(dark-100);
                    margin-bottom: 2.5rem;
                }
                .toDo_list{
                    .toDo_list_item{
                        padding: 0.5rem;
                        border-radius: 10px;
                        box-shadow: -5px -5px 10px 0 rgba(255, 255, 255, .7), 5px 5px 10px 0 color(neutral-400);
                        transition: all .3s;
                        position: relative;
                        margin-bottom: 20px;
                        &:before{
                            position: absolute;
                            content: '';
                            top: -2px;
                            left: -2px;
                            bottom: -2px;
                            right: -2px;
                            border-radius: 10px;
                            border-style: solid;
                            border-width: 3px;
                            border-top-color: #fff;
                            border-left-color: #fff;
                            border-bottom-color: color(neutral-900);
                            border-right-color: color(neutral-900);
                            filter: blur(3px);
                            opacity: .6;
                            z-index: -1;
                        }
                        .toDo_color{
                            height: 3rem;
                            width: 3rem;
                            border-radius: 10px;
                            box-shadow: inset 5px 5px 5px 0 rgba(0, 0, 0, .2), 2px 2px 1px 0 #fff;
                        }
                        .toDo_title{
                            font-size: 1.25rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .toDo_action{
                            button{
                                height: 48px;
                                width: 48px;
                                min-width: 48px;
                                &:hover{
                                    box-shadow: inset 5px 5px 5px 0 rgba(0,0,0,0.1);
                                }
                            }
                            i{
                                color: color(dark-100);
                                text-shadow: 1px 1px 0 #fff;
                            }
                        }
                    }
                    .add_to_do{
                        .icon{
                            border-radius: 10px;
                            box-shadow: -5px -5px 10px 0 rgba(255, 255, 255, .7), 5px 5px 10px 0 color(neutral-400);
                            height: 60px;
                            width: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all .3s;
                            cursor: pointer;
                            position: relative;
                            &:before{
                                position: absolute;
                                content: '';
                                top: -2px;
                                left: -2px;
                                bottom: -2px;
                                right: -2px;
                                border-radius: 10px;
                                border-style: solid;
                                border-width: 3px;
                                border-top-color: #fff;
                                border-left-color: #fff;
                                border-bottom-color: color(neutral-900);
                                border-right-color: color(neutral-900);
                                filter: blur(3px);
                                opacity: .6;
                                z-index: -1;
                            }
                            span{
                                border-radius: 90px;
                                width: 6px;
                                height: 28px;
                                background: color(primary);
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                &:first-child{
                                    transform: translate(-50%, -50%);
                                    box-shadow: inset 3px 3px 5px 0 color(primary-600);
                                }
                                &:last-child{
                                    transform: translate(-50%, -50%) rotate(90deg);
                                    box-shadow: inset 3px 3px 5px 0 color(primary-600);
                                }
                            }
                            &:hover{
                                box-shadow: inset 5px 5px 10px 0 color(neutral-400);
                                &:before{
                                    opacity: 0;
                                }
                                span{
                                    box-shadow: none;
                                }
                            }
                        }
                        .text{
                            font-weight: 700;
                            font-size: 1.25rem;
                            color: color(dark-100);
                        }
                    }
                }
            }
        }
    }
}
