@media (max-width: 991px){
    .main_container{
        &:after{
            background: none;
        }
        .main_wrapper{
            .main_content{
                padding: 3rem;
            }
        }
    }
}
