.sidebar{
    display: grid;
    grid-template-rows: 100px 1fr auto;
    height: 100vh;
    width: 300px;
    z-index: 1;
    &.pointer-events-none{
        pointer-events: none;
    }
    .logo{
        text-align: center;
        height: 100px;
        img{
            height: 100%;
        }
    }
    .task_list_wrapper{
        overflow: auto;
        position: relative;
        .task_list{
            padding: 1.5rem;
            .task{
                padding: 1rem;
                border-radius: 10px;
                box-shadow: -5px -5px 10px 0 rgba(255, 255, 255, .7), 5px 5px 10px 0 color(neutral-400);
                position: relative;
                margin-bottom: 1.5rem;
                &:before{
                    position: absolute;
                    content: '';
                    top: -2px;
                    left: -2px;
                    bottom: -2px;
                    right: -2px;
                    border-radius: 10px;
                    border-style: solid;
                    border-width: 4px;
                    border-top-color: #fff;
                    border-left-color: #fff;
                    border-bottom-color: color(neutral-900);
                    border-right-color: color(neutral-900);
                    filter: blur(3px);
                    opacity: .6;
                    z-index: -1;
                }
                .head{
                    .mark_as_complete{
                        .custom-checkbox{
                            .custom-control-input:checked ~ .custom-control-label::before{
                                background-color: color(primary);
                                border-color: color(primary);
                                box-shadow: inset 2px 2px 5px 0 #135BBE;
                            }
                            .custom-control-label{
                                cursor: pointer;
                                top: -4px;
                                &:before{
                                    background-color: color(neutral-200);
                                    border-color: color(neutral-300);
                                    box-shadow: inset 2px 2px 5px 0 color(neutral-700);
                                    border-radius: 50%;
                                    height: 1.5rem;
                                    width: 1.5rem;
                                }
                                &:after{
                                    height: 1.5rem;
                                    width: 1.5rem;
                                }
                            }
                        }
                    }
                    .title{
                        color: color(dark-100);
                        font-weight: 700;
                    }
                    .action{
                        button{
                            &:hover{
                                background-color: color(neutral-300);
                            }
                            i{
                                color: color(neutral-900);
                                text-shadow: 1px 0 1px #fff;
                            }
                        }
                        .mdl-menu__outline{
                            border-radius: 10px;
                            background: color(neutral-100);
                            box-shadow: 0 10px 30px -2px rgba(0, 0, 0, .2);
                        }
                        .mdl-menu__item:hover{
                            background: color(neutral-200);
                        }
                    }
                }
                .body{
                    padding: 1rem;
                    max-height: 85px;
                    position: relative;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    display: -webkit-box;
                }
            }
        }
    }
    .add_task{
        padding: 1.5rem;
        button{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            color: #fff;
            background: linear-gradient(45deg, #0042ff, color(primary));
            text-transform: uppercase;
            padding: 1.5rem 1rem;
            border-radius: 90px;
            font-weight: 700;
            letter-spacing: 0.03125rem;
            box-shadow: 0 10px 30px 0 color(primary-300);
            position: relative;
            overflow: hidden;
        }
    }
}
