.toDo_slidenav{
    background: $body-bg;
    position: fixed;
    z-index: 9;
    left: 100%;
    width: 460px;
    height: 100vh;
    top: 0;
    box-shadow: -10px 0px 30px 0 rgba(0, 0, 0, .1);
    transition: all 700ms cubic-bezier(.9,0,.33,1);
    border-radius: 50% 0 0 350%;
    .close{
        position: absolute;
        top: 1rem;
        left: 1rem;
        &:hover{
            box-shadow: inset 5px 5px 5px 0 rgba(0,0,0,0.1);
        }
        i{
            text-shadow: 1px 1px 1px #fff;
        }
    }
    &.active{
        transform: translateX(-460px);
        border-radius: 0;
    }
    .wrapper{
        padding: 3rem 2rem;
        height: 100%;
        .title{
            font-size: 1.5rem;
            font-weight: 700;
            color: color(dark-100);
            margin: 3rem 0 2.5rem;
        }
        .head{
            margin: 0 0 3rem;
            padding: 0.5rem;
            border-radius: 10px;
            box-shadow: -5px -5px 10px 0 rgba(255, 255, 255, .7), 5px 5px 10px 0 color(neutral-400);
            position: relative;
            &:before{
                position: absolute;
                content: '';
                top: -2px;
                left: -2px;
                bottom: -2px;
                right: -2px;
                border-radius: 10px;
                border-style: solid;
                border-width: 3px;
                border-top-color: #fff;
                border-left-color: #fff;
                border-bottom-color: color(neutral-900);
                border-right-color: color(neutral-900);
                filter: blur(3px);
                opacity: .6;
                z-index: -1;
            }
            &.editing{
                box-shadow: inset 5px 5px 10px 0 rgba(0, 0, 0, .1), 1px 1px 1px 0 #fff !important;
                &:before{
                    display: none;
                }
                .head_color{
                    box-shadow: none;
                    span{
                        display: block;
                    }
                }
                .head_title{
                    &:before{
                        opacity: 1;
                    }
                }
            }
            .head_color{
                height: 3rem;
                width: 3rem;
                border-radius: 10px;
                box-shadow: inset 5px 5px 5px 0 rgba(0, 0, 0, .2), 2px 2px 1px 0 #fff;
                position: relative;
            }
            .head_title{
                font-size: 1.25rem;
                flex-grow: 1;
                position: relative;
                margin-right: 1rem;
                &:before{
                    left: 0;
                    bottom: 0;
                    right: 0;
                    position: absolute;
                    content: '';
                    height: 2px;
                    background-color: color(primary);
                    z-index: 1;
                    opacity: 0;
                    transition: opacity 300ms;
                }
                input{
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    border: 0;
                    box-shadow: 10;
                    background: none;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .body{

        }
    }
}
.toDo_slidenav_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(6px);
    z-index: -99999;
    transition: opacity 300ms;
    &.active{
        transition: opacity 300ms;
        opacity: 1;
        z-index: 8;
    }
}
