body, html, *{
    cursor: none !important;
}
body{
    font-size: $font-size-base;
    font-family: $font-family-base;
    line-height: $line-height-base;
    #app{
        background: $body-bg;
    }
}
button{
    outline: none !important;
}
main{
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
}
.mdl-ripple{
    background: color(primary-200);
}
.cursor{
    .cursor__inner {
        z-index: 9999;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        mix-blend-mode: difference;
        border-radius: 50%;
        &.cursor__inner--dot {
            width: 6px;
            height: 6px;
            background: #fff;
        }
        &.cursor__inner--circle {
            width: 20px;
            height: 20px;
            border: 1px solid #fff;
        }
    }
}


@import "perfectScrollbar";
@import "sidebar";
@import "toDo_slidenav";
@import "mainContainer";
@import "tiptap/main";
@import "responsive";
